/*.col-12, .footer{
    justify-content: flex-end;
}
.input{
    width: 30px auto;
    border-radius: 15px;
}
.card{
    width: 1000px;
    height: 550px;
    margin: 80px;
}
.card-body{
    
    margin: 50px;
    padding: 5px;
}
.col-5, .col-md-5, .col-sm-4{
    display: flex;
    flex-direction: column;
}
.col-3, .col-md-4, .col-sm-5{
    display: flex;
    flex-direction: column;  
}
.col-6{
    display: flex;
    flex-direction: column;  
}
.col-md-6, .col-sm-6{
    display: inline;
}*/